<configuration>
  <system.webServer>
    
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <defaultDocument enabled="true">
      <files>
        <add value="app.js" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <rule name="routes">
          <match url="api/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
