<div class="row">
    <div class="span12">
        <h2 class="pull-left">Admin</h2>

        <div class="pull-right">
            <button class="btn" ng-click="addInstance()" ng-disabled="addInstanceDisabled">+ Instance</button>
            <button class="btn" ng-click="delInstance()" ng-disabled="delInstanceDisabled">- Instance</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="span6">
        <rickshaw data-source="stats" data-metric="hits" data-color="blue"></rickshaw>
    </div>
    <div class="span6">
        <rickshaw data-source="stats" data-metric="bytes" data-color="orange"></rickshaw>
    </div>
</div>

<div class="row">
    <div class="span6">
        <rickshawstats data-source="stats" data-metric="totalHits" data-title="Hits" data-prefix=""></rickshawstats>
    </div>
    <div class="span6">
        <rickshawstats data-source="stats" data-metric="totalBytes" data-title="Bytes" data-prefix=""></rickshawstats>
    </div>
</div>

<div class="row">
    <div class="span6">
        <rickshaw data-source="stats" data-metric="cost" data-color="red"></rickshaw>
    </div>
    <div class="span6">
        <rickshaw data-source="stats" data-metric="instances" data-color="black"></rickshaw>
    </div>
</div>

<div class="row">
    <div class="span6">
        <rickshawstats data-source="stats" data-metric="totalCost" data-title="Cost" data-prefix="$"></rickshawstats>
    </div>
    <div class="span6">
        <rickshawstats data-source="stats" data-metric="instances" data-title="Instances" data-prefix=""></rickshawstats>
    </div>
</div>

<div class="row">
    <div class="span6">
        <h4>Logs:</h4>
        <ul style="height: 400px; overflow: auto" scroll-if>
            <li ng-repeat="log in logs" scroll-item>
                [{{log.level}}] - {{log.msg}}
            </li>
        </ul>
    </div>
    
    <div class="span6">
        <h4>API Requests:</h4>
        <ul style="height: 400px; overflow: auto" scroll-if>
            <li ng-repeat="req in requests" scroll-item>
                [{{req.method}}] - {{req.path}}
            </li>
        </ul>
    </div>
</div>