<configuration>
  <system.webServer>
    
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <defaultDocument enabled="true">
      <files>
        <add value="app.js" />
      </files>
    </defaultDocument>
    
  </system.webServer>
</configuration>
